body {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    width: 220px;
    background-color: #f5f5f5;
    color: #1F2F16;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  #timer {
    font-size: 28px;
    margin: 10px auto;
    padding: 12px;
    width: 110px;
    background-color: #88A096;
    border: 3px solid #1F2F16;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }

  /*  focus mode */
button {
  margin: 5px;
  padding: 10px 15px;
  border: 2px solid #1F2F16;
  border-radius: 6px;
  background-color: #88A096;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
button:hover {
  background-color: #7b9188;
  border-color: #1F2F16;
}
  /* break mode */
  .break-mode {
    background-color: #fff5f7;
    color: #1F2F16;
  }
  
  .break-mode #timer {
    background-color: #ffcad4;
    border-color: #f4acb7;
    color: #1F2F16;
  }

  .break-mode button {
    background-color: #ffcad4;
    border-color: #f4acb7;
    color: #1F2F16;
  }
  
  .break-mode button:hover {
    background-color: #f4acb7;
    border-color: #ffcad4;
  }